<<<<<<< HEAD
section{
	margin-top: 15px;
	margin-bottom: 20px;
	position:relative;
	float:left;
	width:100%;
}

#home{
	margin-top: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: url("../../images/bg-home.jpg") 50% 0 no-repeat;
	height: 1300px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
}

#home img {
    margin: 0 auto;
    height: 100%;
    padding-top: 140px;
}

#video{
	background: url("../../images/bg-video.jpg") 50% 0 no-repeat;
	height: 859px;
}

.player{
	height: 100%!important;
}

#home-div{
	background: url("../../images/div-home.png") 50% 0 no-repeat;
	height: 244px;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#carousel .item{
	background: #ED1372;
	padding: 30px 0px;
	margin: 5px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.error{
	border-color: red;
}

.map{
	margin-top: 30px;
	margin-bottom: 30px;
	height: 300px;
}

.btn-primary {
	background: #ED1372;
	border: none;
	padding: 15px;
	transition: all 0.5s ease 0s!important;
}

.btn-primary:hover {
	background: #666;
	border: none;
}

.set-cookie{
	margin-top: 15px;
}

.fa{
	margin-right: 5px;
}

@media screen and (max-width: 500px){
	#home img {
	    margin: 0 auto;
	    height: 100%;
	    padding-top: 0px;
	}
	#home{
	    background: url("../../images/bg-home-small.jpg") 50% 0 no-repeat;
	    height: 800px;
	    margin: 0 auto;
	    width: 100%;
	    position: relative;
	    float: left;
	    clear: both;
	    margin-top: 60px;
	}
	#home-div{
		display: none;
	}
=======
section{
	margin-top: 15px;
	margin-bottom: 20px;
	position:relative;
	float:left;
	width:100%;
}

#paralax{
	margin-top: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: url("../../images/bg-home.jpg") 50% 0 no-repeat;
	height: 1300px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
}

#video{
	background: url("../../images/bg-video.jpg") 50% 0 no-repeat;
	height: 859px;
}

.player{
	height: 100%!important;
}

#home-div{
	background: url("../../images/div-home.png") 50% 0 no-repeat;
	height: 244px;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#carousel .item{
	background: #ED1372;
	padding: 30px 0px;
	margin: 5px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.error{
	border-color: red;
}

.map{
	margin-top: 30px;
	margin-bottom: 30px;
	height: 300px;
}

.btn-primary {
	background: #ED1372;
	border: none;
	padding: 15px;
	transition: all 0.5s ease 0s!important;
}

.btn-primary:hover {
	background: #666;
	border: none;
}

#paralax img {
    margin: 0 auto;
    height: 100%;
    padding-top: 140px;
}

.set-cookie{
	margin-top: 15px;
}

.fa{
	margin-right: 5px;
}

@media screen and (max-width: 500px){
	#paralax img {
	    margin: 0 auto;
	    height: 100%;
	    padding-top: 0px;
	}
	#paralax{
	    background: url("../../images/bg-home-small.jpg") 50% 0 no-repeat;
	    height: 800px;
	    margin: 0 auto;
	    width: 100%;
	    position: relative;
	    float: left;
	    clear: both;
	    margin-top: 60px;
	}
	#home-div{
		display: none;
	}
>>>>>>> origin/master
}