<<<<<<< HEAD
/* Bootstrap Reset */

.navbar{
    margin:0;
    padding:0;
    border:none;
    min-height: 0;
}
.navbar-nav>li>a {
    margin:0;
    padding:0;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav > .active > a{
    color:#ED1372!important;
}

.bg-nav{
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #151515;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.bg-nav ul{
    padding:0px;
    margin:0px;
}

.menu-left{
    position:relative;
    float:left;
}

.menu-left li{
    position: relative;
    float: left;
    margin-right: 35px;
    line-height: 60px;
    list-style: none;
    top: 0px;
    height: 60px;
}

.menu-left li a{
    color: #a8a2a2;
    text-transform: uppercase;
    font-size: 12pt;
    line-height: 44pt;
    transition: all 0.5s ease 0s!important;
}

.menu-left li a:hover{
    color:#fff;
    text-decoration: none!important;
}

.menu-left li:first-child{
    top:0px;
}

.menu-right{
    position:relative;
    float:right;
}

.menu-right li{
    position:relative;
    float:right;
    line-height: 44pt;
    list-style: none;
}

.menu-right li:last-child{
    margin-right: 20px;
}

.menu-right li a{
    color: #a8a2a2;
    text-transform: uppercase;
    font-size: 12pt;
    transition: all 0.5s ease 0s!important;
}

.menu-right li a:hover{
    color:#fff;
    text-decoration: none!important;
}

.icon-closed{
    display:none;
}

.icon-opened{
    display:block;
}

.menu-open{
    position:relative;
    float:left;
    width:100%;
    display:none;
    /* Bug Fix */
    margin-bottom: 0;
    padding-bottom: 15px;
}

.menu-open li{
    list-style: none;
    text-align: center;
}

.menu-open li:first-child{
    margin-top:20px;
}

.menu-open li a{
    color: #a8a2a2;
    text-transform: uppercase;
    font-size: 16pt;
    padding-top: 10px;
    line-height:40pt;
    transition: all 0.5s ease 0s!important;
}

.menu-open li a:hover{
    color:#fff;
    text-decoration: none!important;
}

#others > .container > .col-lg-4{
    min-height: 300px;
}

@media (max-width: 475px){
    .menu-right li:first-child{
        display:none;
    }
    .col-xxs-12{
        width: 100%!important;
        margin-bottom: 20px;
    }
    .menu-right li{
        margin-right: -10px;
    }
}

@media (max-width: 991px){
    .bg-nav{
        position:fixed;
        width:100%;
        z-index:9999;
    }
    .menu-left li {
        margin-left: -17px;
    }
=======
.bg-nav{
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #151515;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.bg-nav ul{
    padding:0px;
    margin:0px;
}

.menu-left{
    position:relative;
    float:left;
}

.menu-left li{
    position: relative;
    float: left;
    margin-right: 50px;
    line-height: 60px;
    list-style: none;
    top: 0px;
    height: 60px;
}

.menu-left li a{
    color: #a8a2a2;
    text-transform: uppercase;
    font-size: 14pt;
    transition: all 0.5s ease 0s!important;
}

.menu-left li a:hover{
    color:#fff;
    text-decoration: none!important;
}

.menu-left li:first-child{
    top:0px;
}

.menu-right{
    position:relative;
    float:right;
}

.menu-right li{
    position:relative;
    float:right;
    line-height: 44pt;
    list-style: none;
}

.menu-right li a{
    color: #a8a2a2;
    text-transform: uppercase;
    font-size: 14pt;
    transition: all 0.5s ease 0s!important;
}

.menu-right li a:hover{
    color:#fff;
    text-decoration: none!important;
}

.icon-closed{
    display:none;
}

.icon-opened{
    display:block;
}

.menu-open{
    position:relative;
    float:left;
    width:100%;
    display:none;
    /* Bug Fix */
    margin-bottom: 0;
    padding-bottom: 15px;
}

.menu-open li{
    list-style: none;
    text-align: center;
}



.menu-open li:first-child{
    margin-top:20px;
}

.menu-open li a{
    color: #a8a2a2;
    text-transform: uppercase;
    font-size: 16pt;
    padding-top: 10px;
    line-height:40pt;
    transition: all 0.5s ease 0s!important;
}

.menu-open li a:hover{
    color:#fff;
    text-decoration: none!important;
}

@media (max-width: 475px){
    .menu-right li:first-child{
        display:none;
    }
    .col-xxs-12{
        width: 100%!important;
        margin-bottom: 20px;
    }
    .menu-right li{
        margin-right: -10px;
    }
}

@media (max-width: 991px){
    .bg-nav{
        position:fixed;
        width:100%;
        z-index:9999;
    }
    .menu-left li {
        margin-left: -17px;
    }
>>>>>>> origin/master
}