/* Html */
html{}

/* Body */
body{
	font-family: 'Roboto', sans-serif;
	background-color: #151515;
	color: #fff;
}

/* Headings */

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

h1{}
h2{}
h3{}
h4{}
h5{}
h6{}

/* Styles */

strong{}
big{}
small{}

/* Positions */

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.img-center{
	margin: 0 auto;
}

.box-relative{
	position: relative;
	float:left;
	width:100%;
}

/* Buttons */

/* Forms */

/* Loading */

#preloader  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 2147483647;
    height: 100%;
 }

.preload-img{
	background-image: url("../../images/preload.svg");
	background-position: center center;
	background-repeat: no-repeat;
	height: 352px;
	width: 341px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin: -176px 0 0 -170px;
 }

 .no-svg .preload-img{
	background-image: url("../../images/preload.png");
	background-position: center center;
	background-repeat: no-repeat;
	height: 352px;
	width: 341px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin: -176px 0 0 -170px;
 }

 /* Cover */

 @media screen and (min-width: 1950px){
	.cover{
		-webkit-background-size: cover!important;
		-moz-background-size: cover!important;
		-o-background-size: cover!important;
		background-size: cover!important;
	}
}